.header {
    grid-area: h;
    background-color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 0px 3px black;
    font: 32px Arial;
    padding: 9px 16px;
    font-variant: small-caps;
    letter-spacing: 4px;
}