.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
'h h'
'n c';

    grid-template-rows: 60px 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-gap: 16px;
}

body {
  background-color: rgba(41,35,47,0.09);
}

.app-wrapper-content {
    grid-area: c;
    background-color: #f4f8ff;
    border-radius: 0 0 15px 0;
}
