.nav {
    grid-area: n;
    border-radius: 0 0 0 15px;
    font: 1.5rem Arial;
    box-shadow: 0px 0px 3px black;
    padding-top: .3rem;
}

.itemNav {
    padding-top: .5rem;
    padding-bottom: .3rem;
}

.itemNav a {
    color: black;
    text-decoration: none;
    padding: 1rem;
}

.itemNav a.active {
    color: orangered;
}

.itemNav:hover {
    background-color: #f4f8ff;
}
